@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Core.Application.ViewModels.CuentaAhorros;
@using Core.Application.ViewModels.Products
@model SaveCuentaAhorroViewModel

@{
    var userId = ViewBag.IdUser;
    var userName = ViewBag.UserName;
}

<form method="post" asp-action="ManageClientProducts" asp-controller="ManageUser">
    <h4>Agregando cuenta de ahorro para el usuario: @userName</h4>
    <div>
        <label asp-for="Balance" class="form form-label">Monto de la cuenta de ahorro:</label>
        <input type="number" required class="form form-control" asp-for="Balance" value="">
        <input type="hidden" asp-for="UserId" value="@userId">
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
</form>

<div class="mt-5 d-flex justify-content-center border border-5">
    <div class="col-11" style="border: 1px solid red">
        <h2>Cuentas que tiene el usuario @userName :</h2>
        @foreach(ProductViewModel item in ViewBag.lista)
        {
            <h4>@($"{item.User.FirstName}")</h4>
            @foreach (CuentaAhorroViewModel ahorro in item.CuentaAhorros)
            {
                <h4>Numero de cuenta: @ahorro.NumeroCuenta</h4>
                <h4>Cuenta principal: @(ahorro.Principal == true ? "Si" : "No")</h4>
                <h4>Balance: @ahorro.Balance</h4>
                @if (@ahorro.Principal==false)
                {
                    <a class="btn btn-danger" asp-action="DeleteCuentaById" asp-controller="ManageUser" asp-route-Id="@item.Id">Eliminar</a>
                }
            }
        }
    </div>
</div>