@using Core.Application.ViewModels.TarjetaCreditos; 
@model TarjetaCreditoViewModel
@{
    
}

<div class="col-11 d-flex m-4">

    @foreach (TarjetaCreditoViewModel item in ViewBag.GetAllTarjetaCreditos)
    {
        <form method="post" asp-controller="AvanzeEfectivo" asp-action="AvanzeEfectivo">
            <div class="card me-1">
                <div class="card-header d-flex">
                    <p class="me-1">@item.NumeroTarjeta</p>
                </div>
    
                <div class="card-body">
                    <p><strong>Monto establecido para la tarjeta: </strong> @item.Limite</p>
                    <p><strong>Debe: </strong> @item.Debe</p>
                    <p><strong>Pagos: </strong> @item.Pago</p>
                </div>
                
                <input hidden value="@item.NumeroTarjeta" name="numeroTarjeta">
                <input hidden value="@item.Id" name="idTarjeta">
                <input hidden value="@item.Limite" name="LimiteTarjeta">
                <input hidden value="@item.Idproduct" name="IdProduct">
    
                <div class="card-footer">
    
                    <!-- Modal -->
                    <button class="btn btn-warning" type="submit">Avanze de efectivo</button>
                </div>
            </div>
        </form>
    }
</div>